<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Lisää uusi tuote</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
<style>

</style>

</head>
<body>
	<h1>Lisää uusi tuote</h1>
	<div>
	
	<form th:object="${product}" id="myform" th:action="@{/saveproduct}" action="#" method="post">
	<table>
	<tr>
		<td> Tuotteen nimi</td>
		<td><input type="text" id="productname" th:field="*{productname}"/></td>
		<td th:if="${#fields.hasErrors('productname')}" th:errors="*{productname}">Error</td>
		
		</tr>
		<tr>
		
		<td> Tuotteen kuvaus</td>
		
		<td><textarea name="description" cols="50" rows="4" form="myform" th:text="*{description}"></textarea></td>
			<td th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Error</td>
	
	</tr>
		
	<tr>
		<td>Myyntihinta</td>
		<td><input type="text" id="sellingprice" th:field="*{sellingprice}"/></td>
		<td th:if="${#fields.hasErrors('sellingprice')}" th:errors="*{sellingprice}">Sellingprice ERRORS</td>
	</tr>
	
	<tr>
		<td>Sisäänostohinta</td>
		<td><input type="text" th:field="*{buyingprice}"/></td>
		<td th:if="${#fields.hasErrors('buyingprice')}" th:errors="*{buyingprice}">Buyingprice ERROR</td>
		
	</tr>
	<tr>
		<td>Kategoria</td>
		<td><select id="categorylist" th:field="*{category}" class="form-control">
			<option th:each="category: ${categories}" th:value="${category.categoryid}" th:text="${category.categoryName}"></option>
			</select>
			</td>
			
	<tr>
		<td><input type="submit" value="Save"></input></td>
	</tr>
	</table>
	</form>
		</div>

</body>
</html>